  @import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Beau+Rivage&family=Great+Vibes&family=Lobster+Two:ital,wght@1,700&family=Luxurious+Script&family=Pinyon+Script&family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap');

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }
  :root{
    --primary-text-color:#183b56;
    --secondary-text-color:#577592;
    --accent-color:#2294ed;
    --accent-color-dark:#1d69a3;
    --padding-inline-section:20px;
  }
  body{
    font-family: 'Poppins',sans-serif;
    color: var(--primary-text-color);
  }
  h1{
    font-size: 3rem;
  }
  h2{
    font-size: 2rem;
  }
  h3{
    font-size: 1.5rem;
  }
  p{
    font-family: 'Roboto',sans-serif;
    font-size: 1.25rem;
    color: var(--secondary-text-color);
    line-height: 1.8rem;
  }
  a{
    text-decoration: none;
    display: inline-block;
  }
  .small-bold-text{
    font-size: 1rem;
    font-weight: 700;
  }
  .container{
    max-width: 1180px;
    margin-inline:auto ;
    padding-inline: var(--padding-inline-section);
    overflow: hidden;
  }
  .top-banner{
    background-color: #e74694;
  }
  .banner-text{
    color: white;
    padding: 15px 30px;
    text-align: center;
  }
  ul{
    list-style: none;
  }
.flex{
    display: flex;
    align-items: center;

}

  .main-nav{
    justify-content: space-between;
    margin-top: 20px;
    position: relative;
  }
  .company-logo img{
    width: 200px;
  }
  .nav-links ul{
    justify-content: end;
    gap: 40px;
  }
  .nav-links{
    flex-basis: 730px;
  }
  .nav-toggel{
    display: none;
  }
  .hover-link{
    color: var(--primary-text-color);
    transition: .2s ease-out;
  }
  .hover-link:hover{
    color: var(--accent-color);

  }
  .primary-btn{
    background-color: var(--accent-color);
    border-radius: 6px;
    font-weight: 700;
    color: white !important;
    padding: 12px 24px;
    box-shadow: 0 0 2px var(--secondary-text-color);
    transition: .2s ease-out;
  }
  .primary-btn:hover{
    background-color: var(--accent-color-dark);
  }
  .secondary-btn{
    border: .5px solid;
    border-radius: 6px;
    font-weight: 700;
    color: var(--primary-text-color) !important;
    padding: 12px 24px;
  }
  .secondary-btn:hover{
    border-color: var(--accent-color);
    color: var(--accent-color) !important;
  }

  header{
    padding: 50px var(--padding-inline-section) 0;
  }
  .head-section{
    justify-content: center;
    gap: 50px;
  }
  .head-left{
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    max-width: 40vw;

  }
  .head-left h1{
    margin-top: 20px;
  }
  .head-right img{
    width: 100%;
  }
  .companies-head{
    text-align: center;
    margin-block: 30px;
    color: var(--primary-text-color);
  }
  .logos{
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
  }
  .logo{
    height: 46px;
  }
.features{
    padding: 80px var(--padding-inline-section) 0;
    background-image: url(https://assets-global.website-files.com/5af97a9c84ec1bc79d81b5f4/5af9951ea9b84ec337b92251_Oval2.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.feature-head{
    text-align: center;
}
.feature-head h2{
    margin-bottom: 20px;
}
.features-area{
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}
.features-card{
    flex-direction: column;
    gap: 20px;
    width: 30%;
    text-align: center;
}
.big-feature{
    padding: 30px var(--padding-inline-section) 0;

}
.big-feature-container{
    gap: 30px;
}
.feature-img img{
    width: 100%;
}
.feature-desc{
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.example{
  padding: 80px var(--padding-inline-section);
}
.example-head{
    flex-direction: column;
    gap: 20px;    
}
.exapmle-area{
    justify-content: space-between;
    margin-block: 30px;
    flex-wrap: wrap;
}
.example-card{
    width: 23%;
    position: relative;
    height: 300px;
    background: black;
    background-image: linear-gradient(rgb(0,0,0,0.1),rgb(0,0,0,0.8)),url(../images/news-3.jpg);
    background-size: cover  ;
    transition: .2s ease-out;

}
.example-card>h3{
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    font-size: 1.4rem;
    color: white;
}
.example-card:hover{
    box-shadow: 0 0 16px #888;
}
